<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:black;color:white;">
 



<form action="{{ url_for('predict')}}" method="post">

    <input type="text" name="crim" placeholder="crim" required="required">
    <input type="text" name="zn" placeholder="zn" required="required">
    <input type="text" name="indus" placeholder="indus" required="required">
    <input type="text" name="chas" placeholder="chas" required="required">
    <input type="text" name="nox" placeholder="nox" required="required">
    <input type="text" name="rm" placeholder="rm" required="required">
    <input type="text" name="age" placeholder="age" required="required">
    <input type="text" name="dis" placeholder="dis" required="required">
    <input type="text" name="rad" placeholder="rad" required="required">
    <input type="text" name="tax" placeholder="tax" required="required">
    <input type="text" name="ptratio" placeholder="ptratio" required="required">
    <input type="text" name="b" placeholder="b" required="required">
    <input type="text" name="lstat" placeholder="lstat" required="required">
 
       

</form>




</body>
</html>